/*       SHOP PAGE       */
ul{
    display: block;
    li{
        display: flex;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        margin: 10px 0;
        label{
            margin-left: 10px;
        }
    }
   
}






//for filter//
